.plyr__video-embed {
  position: relative;
  overflow: hidden;
  pointer-events: none;
}

.plyr__video-embed > * {
  pointer-events: auto;
}

.plyr__video-embed iframe {
  position: absolute;
  top: -50% !important;
  left: 0;
  width: 100%;
  height: 200% !important;
  border: 0;
  max-width: none;
}

.plyr__poster {
  background-size: cover !important;
  background-position: center center !important;
  z-index: 4 !important;
  transition: opacity 0.2s ease;
}

.plyr--paused .plyr__poster {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.plyr--paused .plyr__video-embed {
  opacity: 0.99;
}

.plyr--youtube .plyr__controls {
  z-index: 5;
  position: relative;
}
